<!DOCTYPE html>

      <!--% @customer.each do |customer| %-->
        <!--%= cutsomer.first_name_kana+cutsomer.last_name_kana %-->
        <!--%= cutsomer.zip_code %-->
        <!--%= cutsomer.address %-->
        <!--%= cutsomer.phone_number %-->
      <!--% end %-->


<html>
  <head>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>
    <h1>Editing Book</h1>
    
    <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this book from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_with model: @book, url:book_path(@book.id), method: :patch do |f| %>

        <h3>Title</h3>
        <%= f.text_field :title %>

        <h3>Body</h3>
        <%= f.text_area :body %>

      <%= f.submit 'Update Book' %>
      <%= link_to "Show", book_path(@book.id) %>
      <%= link_to "Back", books_path %>


    <% end %>
  </body>
</html>
