<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>

    <h1>Books</h1>

    <% @book.each do |book| %>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <span><%= book.title %></span>

          <th>Body</th>
          <span><%= book.body %></span>

          <th clospan="3"></th>
        </tr>
      </thead>
    </table>

    <% end %>

    <h2>New book</h2>

    <%= form_with model: @book, url: '/books', method: :post do |f| %>


        <h3>Title</h3>
        <%= f.text_field :title %>

        <h3>Body</h3>
        <%= f.text_area :body %>

      <%= f.submit 'Create Book' %>


    <% end %>

  </body>

</html>